<div class="pt-16">
  <form [formGroup]="formulario" class="w-full max-w-lg" method="get" action="." (ngSubmit)="onSubmit()">
    <h2 class="m-1 mt-4">Cadastro de usuário</h2>
    <div class="flex flex-wrap -mx-3 ">
      <div class="w-full md:w-1/2 px-3  mb-6 md:mb-0">
        <label>
          Nome
        </label>
        <input class="bg-white" type="text" formControlName="name">
      </div>
      <div class="w-full md:w-1/2 px-3  mb-6 md:mb-0">
        <label>
          Email
        </label>
        <input class="bg-white" type="email" formControlName="email">
      </div>
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label>
          Senha
        </label>
        <input class="bg-white" formControlName="password" #password type="password" minlength="8" />
      </div>
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label>
          Digite a senha novamente
        </label>
        <input class="bg-white" #passwordConfirmation type="password" />
      </div>
    </div>
    <h2 class="m-1 mt-4">Informações de endereço</h2>
    <div class="flex flex-wrap -mx-3 ">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label>
          CEP
        </label>
        <input class="bg-white" formControlName="cep" #cep type="text" maxlength="8" (blur)="pesquisacep(cep.value)" />
      </div>
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label>
          Número
        </label>
        <input class="bg-white" formControlName="number" #number type="text" />
      </div>
      <div class="w-full md:w-1/2 px-3  mb-6 md:mb-0">
        <label>
          Cidade
        </label>
        <input disabled class="hover:cursor-not-allowed" #cidade type="text">
      </div>
      <div class="w-full md:w-1/2 px-3  mb-6 md:mb-0">
        <label>
          Rua
        </label>
        <input disabled class="hover:cursor-not-allowed" #rua type="text">
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-2">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label>
          UF
        </label>
        <div class="relative">
          <input disabled class="hover:cursor-not-allowed" #uf type="text">
        </div>
      </div>
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label>
          Bairro
        </label>
        <input disabled class="hover:cursor-not-allowed" #bairro type="text">
      </div>
      <button type="submit" [disabled]="  buttonAllowed()" [class.disabled]="buttonAllowed()"
        class="bg-transparent hover:bg-blue-500 hover:cursor-pointer text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
        Enviar
      </button>
    </div>
  </form>

</div>
